<template>
	<section class="categoryItem" v-bind:id="title">
		<div id="header">
			<p>
				{{ title }}
			</p>
			<!--            <hr>-->
		</div>
		<div id="categoryContainer">
			<slot></slot>
		</div>
	</section>
</template>

<script>
export default {
	name: "CategoryItem",
	props: {
		title: {
			default: "component title",
			type: String
		},
		content: {
			type: String
		},
		index: {
			default: 0,
			type: Number
		}
	}
}
</script>

<style scoped>
#header {
	background: var(--tertiary);
	text-align: center;
	position: sticky;
	top: 0;
	font-size: 2.3em;
	font-weight: bold;
	border-bottom: 3px solid var(--primary);
}

#categoryContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.categoryItem {
	min-height: 100%;
	background: var(--tertiary);
	margin-bottom: 1px;
}
</style>