<template>
	<div id="content">
		<!--FORMATIONS-->
		<CategoryItem title="Formations">
			<FormationItem
				v-bind:formation="'Master ISIDIS/WebSci'"
				v-bind:localisation="'Université du Littoral Côte d\'Opale'"
				v-bind:date-debut="new Date(2019, 9)"
				v-bind:date-fin="new Date(2021, 10)"
				v-bind:imgUrl="'images/logo_ulco.png'"
			/>
			<FormationItem
				v-bind:formation="'Licence Informatique'"
				v-bind:localisation="'Université du Littoral Côte d\'Opale'"
				v-bind:date-debut="new Date(2016, 9)"
				v-bind:date-fin="new Date(2019, 6)"
				v-bind:imgUrl="'images/logo_ulco.png'"
			/>
			<FormationItem
				v-bind:formation="'BAC Scientifique'"
				v-bind:localisation="'Lycée Sophie Berthelot'"
				v-bind:date-debut="new Date(2013, 9)"
				v-bind:date-fin="new Date(2016, 7)"
				v-bind:imgUrl="'images/logo-Lycee-BERTHELOT.png'"
			/>
		</CategoryItem>

		<!--LANGUAGES-->
		<CategoryItem title="Languages">
			<Skill
				v-bind:percent="75"
				v-bind:img-url="'images/technos/csharp.png'"
			/>
			<Skill
				v-bind:percent="90"
				v-bind:img-url="'images/technos/cpp.png'"
			/>
			<Skill
				v-bind:percent="95"
				v-bind:img-url="'images/technos/java.png'"
			/>
			<Skill
				v-bind:percent="100"
				v-bind:img-url="'images/technos/html.png'"
			/>
			<Skill
				v-bind:percent="75"
				v-bind:img-url="'images/technos/css.png'"
			/>
			<Skill
				v-bind:percent="95"
				v-bind:img-url="'images/technos/js.png'"
			/>
			<Skill
				v-bind:percent="60"
				v-bind:img-url="'images/technos/python.png'"
			/>
			<Skill
				v-bind:percent="85"
				v-bind:img-url="'images/technos/php.png'"
			/>
		</CategoryItem>

		<!--TECHNOLOGIES-->
		<CategoryItem title="Technologies">
			<Skill
				v-bind:percent="70"
				v-bind:img-url="'images/technos/dotnet.png'"
			/>
			<Skill
				v-bind:percent="90"
				v-bind:img-url="'images/technos/vue.png'"
			/>
			<Skill
				v-bind:percent="85"
				v-bind:img-url="'images/technos/git.png'"
			/>
			<Skill
				v-bind:percent="90"
				v-bind:img-url="'images/technos/bootstrap.png'"
			/>
			<Skill
				v-bind:percent="75"
				v-bind:img-url="'images/technos/ts.png'"
			/>
			<Skill
				v-bind:percent="80"
				v-bind:img-url="'images/technos/android.png'"
			/>
			<Skill
				v-bind:percent="95"
				v-bind:img-url="'images/technos/sql.png'"
			/>
			<Skill
				v-bind:percent="80"
				v-bind:img-url="'images/technos/laravel.png'"
			/>
			<Skill
				v-bind:percent="85"
				v-bind:img-url="'images/technos/symfony.png'"
			/>
		</CategoryItem>

		<!--EXPERIENCE-->
		<CategoryItem title="Expérience profesionnelle">
			<ExperienceItem
				:imgUrl="'images/companies/Specidev.png'"
				:name="'Développeur'"
				:dateDebut="new Date(2021, 11)"
				:dateFin="new Date(Date.now())"
				:type="'CDD'"
				:localisation="'Arras, Pas-De-Calais'"
				:company="'Spécidev'"
			/>
			<ExperienceItem
				:imgUrl="'images/companies/iris.jpg'"
				:name="'Ingénieur logiciel'"
				:dateDebut="new Date(2021, 4)"
				:dateFin="new Date(2021, 9)"
				:type="'Stage'"
				:localisation="'Billy-Berclau, Nord'"
				:company="'IRIS Informatique'"
			/>
			<ExperienceItem
				:imgUrl="'images/companies/noriap.jpg'"
				:name="'Magasinier'"
				:dateDebut="new Date(2020, 7)"
				:dateFin="new Date(2020, 8)"
				:type="'CDD'"
				:localisation="'Guines, Pas-De-Calais'"
				:company="'Groupe NORIAP'"
			/>
			<ExperienceItem
				:imgUrl="'images/companies/noriap.jpg'"
				:name="'Magasinier'"
				:dateDebut="new Date(2019, 7)"
				:dateFin="new Date(2019, 8)"
				:type="'CDD'"
				:localisation="'Guines, Pas-De-Calais'"
				:company="'Groupe NORIAP'"
			/>
		</CategoryItem>
	</div>
</template>

<script>
import CategoryItem from "./CategoryItem";
import FormationItem from "./FormationItem";
import Skill from "../Skill";
import ExperienceItem from "./ExperienceItem";

export default {
	name: "CategoryListItems",
	components: {
		ExperienceItem,
		Skill,
		CategoryItem,
		FormationItem
	}
}
</script>

<style scoped>
.skill:nth-child(odd) {
	display: flex;
	flex-direction: row-reverse;
}

#content {
	height: 100%;
}
</style>