<template>
    <div class="experienceContainer">
        <div class="imgContainer">
            <img class="img" :src="this.imgUrl" alt="img not loaded :(">
        </div>
        <div class="middleContainer">
            <div class="name">{{this.company}} - {{this.name}}</div>
            <div class="location">{{this.localisation}}</div>
        </div>
        <div class="dates">
            <div>{{this.type}}</div>
            <div>{{this.dateDebut.toLocaleDateString('fr-FR', dateFormat)}} - {{this.dateFin.toLocaleDateString('fr-FR', dateFormat)}} ({{this.getLength()}} mois)</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ExperienceItem",
        data(){
            return{
                dateFormat: { year: 'numeric', month: 'long'}
            }
        },
        props:{
            imgUrl:{
                type: String
            },
            name:{
                type: String
            },
            dateDebut:{
                type: Date
            },
            dateFin:{
                type: Date
            },
            type:{
                type: String
            },
            company:{
                type: String
            },
            localisation:{
                type: String
            }
        },
        methods:{
            getLength(){
                let months = (this.dateFin.getFullYear() - this.dateDebut.getFullYear()) * 12;
                months -= this.dateDebut.getMonth();
                months += this.dateFin.getMonth();
                return months <= 0 ? 0 : months+1;
            }
        }
    }
</script>

<style scoped>
    .experienceContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 0 8em;
        padding: 40px 0;
        border-bottom: 3px dashed var(--primary);
    }

    .imgContainer{
        width: 20%;
    }

    .img{
        height: 160px;
    }

    .middleContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5em;
    }

    .name{
        font-weight: bold;
    }

    .location{

    }

    .dates{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        bottom: 0;
        right: 0;
    }
</style>