<template>
	<div class="formationContainer">
		<div class="imgContainer">
			<img class="img" :src="this.imgUrl" alt="img not loaded :(">
		</div>
		<div class="middleContainer">
			<div class="formationName">{{ this.formation }}</div>
			<div>{{ this.localisation }}</div>
		</div>
		<div class="dates">{{ this.dateDebut.toLocaleDateString('fr-FR', dateFormat) }} -
			{{ this.dateFin.toLocaleDateString('fr-FR', dateFormat) }}
		</div>
	</div>
</template>

<script>
export default {
	name: "FormationItem",
	data() {
		return {
			dateFormat: {year: 'numeric', month: 'long'}
		}
	},
	props: {
		localisation: {
			default: "",
			type: String
		},
		formation: {
			default: "",
			type: String
		},
		dateDebut: {
			type: Date
		},
		dateFin: {
			type: Date
		},
		imgUrl: {
			type: String
		}
	}
}
</script>

<style scoped>
.formationContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin: 0 8em;
	padding: 40px 0;
	border-bottom: 3px dashed var(--primary);
}

.imgContainer {
	width: 20%;
}

.img {
	height: 80px;
}

.middleContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
}

.formationName {
	font-weight: bold;
}

.dates {
	display: flex;
	align-items: flex-end;
}
</style>