<template>
	<div>
		<span><slot></slot><i class="fas fa-map-marked map"></i></span>
		<section ref="map" id="mapContainer">test</section>
	</div>

</template>

<script>
export default {
	name: "MapItem",
	props:{
		googleMapLocation: {
			type: String
		},
		method:{
			openMap: function (){

			}
		},
		mounted: function (){

		}
	}
}
</script>

<style scoped>
	.map{
		margin-left: 10px;
	}

	#mapContainer{
		margin: 20px;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: var(--tertiary);
		z-index: 10000;
	}
</style>