<template>
    <a class="navItem" @click="scrollTo">{{this.getTitle()}}</a>
</template>

<script>
    export default {
        name: "nav-item",
        props:{
            refElement:{
                type: HTMLElement
            }
        },
        methods:{
            scrollTo: function () {
                document.getElementById("mainContent").scrollTo(0,this.refElement.getBoundingClientRect().y);
            },
            getTitle: function () {
                return this.refElement.id;
            }
        }
    }
</script>

<style scoped>
    .navItem{
        color: inherit;
        font-weight: bold;
        padding: 5px;
        text-decoration: none;
        opacity: 0;
        width: 100%;
        background: rgba(0,0,0,0.3);
        text-align: center;
        border-bottom: 2px solid var(--primary);
        cursor: pointer;
        user-select: none;
    }

    .navItem:hover{
        background: rgba(0,0,0,0.2);
    }
</style>