<template>
	<section>
		<div class="progressBar">
			<div ref="bar" class="bar loadBar" :style="'width:'+this.percent+'%'"></div>
		</div>
	</section>
</template>

<script>
export default {
	name: "ProgressBar",
	props: {
		percent: {
			type: Number,
			default: 0
		}
	},
	mounted() {
		let bar = this.$refs.bar;
		var observer = new IntersectionObserver(function (entries) {
			if (entries[0].isIntersecting === true) {
				bar.classList.add("loadBarAnimation");
			}
		});

		observer.observe(this.$parent.$parent.$el);
	}
}
</script>

<style scoped>
.progressBar {
	width: 100%;
	height: 75%;
	z-index: 0;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

.bar {
	height: 100%;
	z-index: 1;
	border-radius: 20px;
	background: var(--primary);
}

.loadBarAnimation {
	animation-name: loadBar;
	animation-duration: 4s;
}

@keyframes loadBar {
	0% {
		width: 0
	}
}
</style>