<template>
    <div class="skill">
        <img class="img flexElement" :src="this.imgUrl" alt="img not loaded :(" draggable="false">
        <ProgressBar id="progress" :percent="this.percent"></ProgressBar>
    </div>
</template>

<script>
    import ProgressBar from "./ProgressBar";
    export default {
        name: "Skill",
        components: {ProgressBar},
        props:{
            percent:{
                type: Number,
                default: 0
            },
            imgUrl:{
                type: String
            }
        }
    }
</script>

<style scoped>
    .skill{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        margin: auto;
    }

    img{
        height: 80px;
        width: auto;
    }

    #progress{
        width: 70%;
        height: 20px;
    }
</style>