<template>
	<div>
		<NavItem ref="navItems" class="navItem" v-for="(category, index) in categories" :key="index" :refElement="category"></NavItem>
	</div>
</template>

<script>
import NavItem from "./NavItem";

export default {
	name: "SummaryItem",
	components: {
		NavItem
	},
	props: {
		categories: {
			type: Array
		}
	},
	methods: {
		setDelays: function () {
			let items = Array.prototype.slice.call(this.$refs.navItems);
			items.forEach(function (item, index) {
				let element = item.$el;
				element.style.animationDelay = index * 150 + "ms";
				element.classList.add("navItemAnimation")
			})
		}
	},
	updated() {
		this.setDelays();
	}
}
</script>

<style scoped>
.navItemAnimation {
	animation-duration: 1s;
	animation-name: translateFadeIn;
	animation-fill-mode: forwards;
}

@keyframes translateFadeIn {
	0% {
		opacity: 0;
		transform: translateY(1000px)
	}
	100% {
		opacity: 1;
	}
}
</style>