<template>
    <div v-on:click="this.fireToast()" id="toast"></div>
</template>

<script>
    export default {
        name: "Toast",
        methods:{
            fireToast: function (text) {
                let toast = document.getElementById("toast");
                toast.innerText = text;
                toast.className = "show";
                setTimeout(function(){ toast.className = ""; }, 3000);
            }
        }
    }
</script>

<style scoped>
    #toast {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: var(--secondary);
        color: var(--text-tertiary);
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 10000000;
        left: 50%;
        top: 30px;
    }

    #toast.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
    }

    @keyframes fadeout {
        from {top: 30px; opacity: 1;}
        to {top: 0; opacity: 0;}
    }
</style>