<template>
    <section id="optionContainer">
        <optionItem onclick="window.open('https://gitlab.com/TheFisto/resumewebstite')">
            <img src="images/technos/gitlab.png" alt="">
            <div>Code source</div>
        </optionItem>
    </section>
</template>

<script>
    import OptionItem from "./optionItem";
    export default {
        name: "optionContainerItem",
        components: {OptionItem},
        props:{
            animationDelay:{
                type: Number,
                default: 0
            }
        },
        methods:{
            setDelays: function () {
                let items = document.getElementById("optionContainer").childNodes;
                let delay = this.animationDelay+1000;
                items.forEach(function (item, index) {
                    item.style.animationDelay = (delay + index*150)+"ms";
                    item.classList.add("optionAnimation");
                })
            }
        },
        mounted() {
            this.setDelays();
        }
    }
</script>

<style scoped>
    #optionContainer{
        display: flex;
        flex-wrap: wrap;
    }

    .optionAnimation{
        animation-duration: 1s;
        animation-name: translateFadeIn;
        animation-fill-mode: forwards;
    }

    @keyframes translateFadeIn {
        0% {opacity:0; transform: translateY(1000px)}
        100% {opacity: 1;}
    }
</style>