<template>
    <div class="option">
        <div class="optionContent"><slot></slot></div>
        <div class="bottomBorder"></div>
    </div>
</template>

<script>
    export default {
        name: "optionItem"
    }
</script>

<style scoped>
    .option{
        flex: 25%;
        width: auto;
        height: 100px;
        margin: 5px;
        padding: 0;
        opacity: 0;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        align-items: center;
        user-select: none;
    }

    .optionContent{
        height: 100%;
        object-fit: contain;
        display: flex;
        flex-direction: column;
    }

    img{
        height: 75%;
        object-fit: contain;
        -webkit-user-drag: none;
    }

    .option:hover{
        background: rgba(0,0,0,0.2);
    }

    .bottomBorder{
        background-color: var(--primary);
        width: 0;
        height: 4px;
        position: absolute;
        bottom: 0;
    }

    .option:hover > .bottomBorder{
        animation-name: hoverOption;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }

    @keyframes hoverOption {
        0% {width: 0;}
        100% {width: 100%;}
    }
</style>