<template>
	<div id="app">
		<div id="navBar" class="collapsed" ref="navBar">
			<i class="fa fa-solid fa-bars burger" v-on:click="this.burgerClicked" style="visibility: hidden"></i>
			<div id="navBarHeader">
				<h1 id="name">Grégoire HUMETZ</h1>
				<div class="clickable" v-on:click="this.copyPhone">Téléphone: <span class="hiddenLink">Cliquez ici pour copier le numéro</span></div>
				<div class="clickable" v-on:click="this.copyMail">E-mail: <span class="hiddenLink">Cliquez ici pour copier l'addresse</span></div>
				<div>Permis B + Vehicule</div>
			</div>
			<div id="summaryContainer">
				<div id="navBarSubHeader">
					<div/>
					<div/>
					<div/>
					<div id="lastVLine"/>
				</div>
				<div id="summaryContent">
					<SummaryItem id="summary" :categories="categoriesTitles"></SummaryItem>
					<optionContainerItem :animationDelay="categoriesTitles.length*150"/>
				</div>
			</div>
		</div>
		<category-list-items id="mainContent" class="col-9"></category-list-items>
		<Toast ref="toast"/>
	</div>
</template>

<script>
import SummaryItem from "./components/SummaryItem";
import CategoryListItems from "./components/Category/CategoryListItems";
import Toast from "./components/Toast";
import OptionContainerItem from "./components/Options/optionContainerItem";
// import MapItem from "./components/MapItem";

export default {
	name: 'App',
	components: {
		OptionContainerItem,
		Toast,
		CategoryListItems,
		SummaryItem,
	},
	data() {
		return {
			categoriesTitles: [],
			burgerCollapsed: false,
		}
	},
	methods: {
		burgerClicked: function (){
			console.log("hey");
			this.burgerCollapsed = !this.burgerCollapsed;
			if(this.burgerCollapsed){
				this.$refs.navBar.classList.remove("collapsed");
				this.$refs.navBar.classList.add("uncollapsed");
			}
			else{
				this.$refs.navBar.classList.remove("uncollapsed");
				this.$refs.navBar.classList.add("collapsed");
			}
		},
		updateCategoriesTitles: function () {
			this.categoriesTitles = Array.prototype.slice.call(document.getElementsByClassName("categoryItem"));
		},
		copyMail: function () {
			let mail = "";
			mail += "ghumetz.pr";
			mail += "o@gmail.c";
			mail += "om";
			navigator.clipboard.writeText(mail);
			this.fireToast("Mail copié dans le presse-papiers !");
		},
		copyPhone: function () {
			let phone = "0";
			phone += "6 95 5";
			phone += "6 24";
			phone += " 88";
			navigator.clipboard.writeText(phone);
			this.fireToast("Numéro copié dans le presse-papiers !");
		},
		fireToast: function (text) {
			this.$refs.toast.fireToast(text);
		}
	},
	mounted: function () {
		this.updateCategoriesTitles();
	}
}
</script>

<style>
/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
	padding: 20px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.30);
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.50);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.75);
}

/*Styles*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

#app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow: unset;
}

#name {
	text-align: center;
	border-bottom: 2px solid var(--primary);
	padding: 20px;
	font-size: 3em;
}

#mainContent {
	background-color: var(--tertiary);
	height: 100%;
	overflow-x: auto;
	overflow-y: unset;
	scroll-behavior: smooth;
	padding: 0 20px;
	scroll-snap-type: y mandatory;
	flex: auto;
}

#navBar {
	background-color: var(--secondary);
	color: var(--text-tertiary);
	overflow: unset;
	padding: 0 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#navBarHeader {
	border-bottom: 2px solid var(--primary);
}

#navBarHeader > * {
	margin-bottom: 20px;
	text-align: right;
}

#summaryContainer {
	height: 100%;
	display: flex;
	flex-direction: row;
}

#summaryContent {
	display: flex;
	width: 80%;
	flex-direction: column;
	justify-content: space-between;
}

#summary {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/*width: 80%;*/
}

#navBarSubHeader {
	display: flex;
	flex-direction: row;
	width: 20%;
	height: 100%;
}

#navBarSubHeader div {
	display: block;
	height: 100%;
	width: 2px;
	background-color: var(--primary);
	margin-right: 30%;
}

#lastVLine {
	margin-right: 0 !important;
}

.hiddenLink {
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
	user-select: none;
}

.clickable{
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.clickable > *{
	margin-left: 10px;
}

@media only screen and (orientation: Portrait){
	.burger{
		position: relative;
		visibility: visible !important;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
	}

	#navBar{
		position: fixed;
		z-index: 10;
	}

	.uncollapsed{
		position: fixed;
		animation-name: uncollapse;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	.collapsed{
		animation-name: collapse;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
	.collapsed *:not(.burger){
		visibility: hidden;
	}
}

@keyframes collapse {
	0%{
		width: 80%;
	}

	99.99%{
		width: 80px;
	}
	100%{
		width: 80px;
	}
}
@keyframes uncollapse {
	0%{
		width: 80px;
	}

	99.99%{
		width: 80%;
	}
	100%{
		width: 80%;
	}
}
</style>
